<body>
  <div>
    <h1 id="firstTitle">
      {{ title }}
    </h1>
  </div>

  <div id="userForm">
    <h2>Enter your VAT number:</h2>
      <form>
        <input type="text" placeholder="EE" id="countryCode">
        <br>
        <input type="number" placeholder="10928390" id="numberCode">
        <br><br>
        <button id="fetchDataButton" type="button" (click)="getData()">Fetch Data</button>
        <br><br>
      </form>
  </div>

  <div id="userOutput">
    <br><br>
    <h3 id="address">Address: </h3>
    <h3 id="countryAA">Country Code: </h3>
    <h3 id="name">Name: </h3>
    <h3 id="requestDate">Request Date: </h3>
    <h3 id="vatNumber">VAT Number: </h3>
    <h3 id="validBoolean">Valid: </h3>
  </div>
</body>